@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');

:root {
  --clr-deep-aquamarine: hsl(158, 36%, 37%);
  --clr-deep-aquamarine-hover: #1A4032;
  --clr-cream: hsl(30, 38%, 92%);
  --clr-gunmetal: hsl(212, 21%, 14%);
  --clr-aurometal-saurus: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-base: "Montserrat", sans-serif;
  --ff-title: "Fraunces", serif;

  --fw-medium: 500;
  --fw-bold: 700; 
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* p {
  text-wrap: pretty;
} */
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* 
  Style
*/

.page {
  background-color: var(--clr-cream);
  font-family: var(--ff-base);
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  --card-text-padding: 1.5rem;

  max-width: 343px;
  background-color: var(--clr-white);
  border-radius: 10px;
  overflow: hidden;
}

.card__text {
  padding: var(--card-text-padding);
}

.card__ribbon-text {
  color: var(--clr-aurometal-saurus);
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.card__product-title {
  color: var(--clr-gunmetal);
  margin-bottom: 1rem;
}

.card__product-desc {
  color: var(--clr-aurometal-saurus);
  margin-bottom: 1.5rem;
}

.card__prices {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 1.25rem;
}

.card__price {
  color: var(--clr-deep-aquamarine);
}

.card__price-deleted {
  color: var(--clr-aurometal-saurus);
  font-size: 13px;
  line-height: 23px;
}

.button {
  width: 100%;
  background-color: var(--clr-deep-aquamarine);
  color: var(--clr-white);
  border: none;
  border-radius: 0.5rem;
  padding: 15px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

.button__icon {
  width: 16px;
  height: 16px;
}

.button__text {
  border: 0.5px solid transparent;
}

.button:hover,
.button:focus,
.button:active  {
  background-color: var(--clr-deep-aquamarine-hover);
}

.footer {
  position: absolute;
  bottom: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.u-font-display {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  line-height: 32px;
}

.u-font-body {
  font-weight: var(--fw-medium);
  line-height: 23px;
}

.u-font-button {
  font-weight: var(--fw-bold);
}

.u-font-overline {
  font-weight: var(--fw-medium);
  font-size: 0.76rem;
  letter-spacing: 5px;
}

@media (min-width: 48rem) {
  .card {
    --card-text-padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }

  .card__ribbon-text {
    margin-bottom: 20px;
  }

  .card__product-title {
    margin-bottom: 24px;
  }

  .card__product-desc {
    margin-bottom: 29px;
  }

  .card__prices {
    margin-bottom: 30px;
  }
}